
body {
    /* Ścieżka do Twojego zdjęcia */
    background-image: url('images/backgrund.jpg'); 
    
    /* Ustawienia, żeby tło było ładne */
    background-size: cover;        /* Zdjęcie wypełni cały ekran */
    background-position: center;   /* Wyśrodkowanie zdjęcia */
    background-attachment: fixed;  /* Tło nie będzie się przewijać */
    background-repeat: no-repeat;
    
    color: #fff;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
